html {
    height: 100%;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
    color: #707172;
    background-color: #666;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#cuerpo-pag {
    min-height: 100%;
    position: relative;
}

header {
	width: 100%;
    float: left;
    background-color:rgba(0, 0, 0, 0.9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2afaf',GradientType=0 );
	box-shadow: 0px 3px 5px ;
		-moz-box-shadow: 0px 3px 5px ;
		-webkit-box-shadow: 0px 3px 5px ;
}

#hd {
	width: 980px;
    margin: auto;
}

#hd h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
    color: azure;
}

#hd h2:hover {
    font-weight: lighter;
}
 
#hd ul {
    float: right;
}

#hd ul li > a {
    color: darkgoldenrod;
}

.tm-bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.3);
}

.parallax-window {
    min-height: 100%;
    background: transparent;
    background-attachment: fixed;
}

#btn-contrac {
    float: right;
    margin: 30px;
}

#contenido {
    padding-bottom: 0px;
}

#contenedor1 {
    padding-bottom: 66px;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    height: 75px;
    position: absolute;
    box-shadow: 0px 2px 2px #000;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
}

#bs-fo {
    margin: 5px;
}

#cl-1 {
    float: right;
    font-size: 12px;
    margin: 0 2em 2px auto;
}

.creador-link-2 {
    color: white;
}
  
.creador-link-2:hover {
    color: #BDB76B;
    text-decoration: none;
}

.creador-link {
    color: white;
}
  
.creador-link:hover {
    color: #F93;
    text-decoration: none;
}