{% extends "base1.html" %}
{% load static %}
{% block titulo %}Registro Jefes{% endblock titulo %}
{% block cuerpo %}
<div class="row">
    <div class="col-lg-8 col-xl-6 mx-auto" id="rg-ad">
        <div class="card card-signin flex-row my-5 tm-bg-black-transparent">
            <div class="card-body">
                <h5 class="card-title text-center">Registro jefes</h5>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-label-group">                            
                        {{ form.nom_jefe }}
                        <label for="{{ form.nom_jefe.id_for_label }}">Nombre</label>
                    </div>
                    <div class="form-label-group">                            
                        {{ form.ape_jefe }}
                        <label for="{{ form.ape_jefe.id_for_label }}">Apellido</label>
                    </div>
                    <div class="form-label-group">                            
                        {{ form.cedu_jefe }}
                        <label for="{{ form.cedu_jefe.id_for_label }}">Cedula</label>
                    </div>
                    <div class="form-label-group">                            
                        {{ form.celu_jefe }}
                        <label for="{{ form.celu_jefe.id_for_label }}">Celular</label>
                    </div>
                    <div class="form-label-group">                            
                        {{ form.email_jefe }}
                        <label for="{{ form.email_jefe.id_for_label }}">Email</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">                            
                        {{ form.estado_jefe }}
                        <label class="custom-control-label" for="{{ form.estado_jefe.id_for_label }}">Actualmente Empleado</label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrarse</button>

                    <div class="text-center">
                        <a class="d-block text-center mt-2 small" href="/usuarios/login/">Iniciar sesión</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}

